* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}
body {
  font-family: 'Lato', sans-serif;
  // display: flex;
  // justify-content: flex-end;
  // margin-right: 5rem;
}
.App{
  height: 100vh;
 
  transition: all 0.5s ease;
}
.active-App{
  background:rgb(240, 180, 180);
  margin-left: 20%;
 
}


h3,h4{
  font-weight: 400;
  color:rgb(110, 109, 109);
}

@media screen and (min-width:1580px){
  .active-App{
    background:rgb(233, 179, 179);
    margin-left: 10%;
   
  }
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
